@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playball&display=swap');

* {
    scroll-behavior: smooth;
}

nav {
    border-bottom: 2px solid #00000029;
    font-family: "Lexend Exa";
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    align-items: center;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
}

nav .nav-links{
    display: flex;
    gap: 32px;
}

.mobile-view{
    display: none;
    background: none;
    border: none;
    padding: 0;
}

nav h1 {
    font-family: "Playball";
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: #000;
}
nav a:hover{
    color:white ;
    background-color:black ;
    border-radius:10px ;
    transform: scale(1.1);
}


body {
    margin: 0;
}

.header {
    padding: 48px 48px 96px 48px;
}

.header h1 {
    font-family: "Lexend Exa";
    font-size: 120px;
    font-weight: 300;
    line-height: 120px;
    text-align: center;
}

.header img {
    width: 100%;
    border-radius: 56px;
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    padding: 48px;
}

.grid-images .item img {
    width: 100%;
    margin-bottom: 8px;
}
.grid-images .item:hover {
    transform: scale(1.1);
    
}
.grid-images .item h4 {
    margin: 0;
    font-family: Newsreader;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.grid-images .item p {
    margin: 0;
    font-family: Newsreader;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.about {
    padding: 96px;
}

.about h1 {
    text-align: center;
    font-family: "Lexend Exa";
    font-size: 48px;
    font-weight: 300;
    line-height: 52px;
}

.work {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 48px;
}

.work h3 {
    font-family: "Lexend Exa";
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
}

.work p {
    font-family: "Newsreader";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.work p:hover{
    
    text-decoration: underline;
    transform: scale(1.1);
}

.feedback {
    padding: 48px;
    border-bottom: 2px solid #00000029
}

.feedback h1 {
    font-family: "Lexend Exa";
    font-size: 48px;
    font-weight: 300;
    line-height: 52px;
    text-align: center;
}

.card-container {
    display: flex;
    align-items: start;
    gap: 24px;
    overflow-x: auto;
    padding: 24px;
}

.card {
    border: 2px solid #00000029;
    padding: 24px;
    border-radius: 16px;
}

.profile {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
}

.profile h6 {
    font-family: Newsreader;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.profile p {
    font-family: Newsreader;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
    color: #00000099;
}

.profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.card .caption {
    font-family: Newsreader;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 36px;
    border-left: 2px solid #00000029;
    width: 180px;
    margin: 0;
    margin-left: 24px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 96px 48px 24px 48px;
    font-family: "Lexend Exa";
}

footer h1 {
    font-weight: normal;
    font-family: Lexend Exa;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    color: #00000099;

}

footer button {
    padding: 12px 24px;
    border: 2px solid #00000029;
    background-color: transparent;
    font-family: Lexend Exa;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border-radius: 8px;
    margin: 0;
}
    footer button:hover{
    color: white;
    background-color:black;
    transform: scale(1.1);
    border-radius:10px ;
    }


@media only screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .header h1{
        font-size: 100px;
    }

    .header img{
        border-radius: 36px;
    }
    .grid-images{
        grid-template-columns: repeat(2, 1fr);
    }

    .about h1{
        font-size: 28px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 480px) {
    nav .none{
        display: none;
    }
    .mobile-view{
        display: block;
    }
    nav{
        padding: 12px 24px;
        gap: 16px;
    }

    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    nav{
        flex-direction: column;
        gap:20px;
    }

    nav .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    nav a{
        font-size: 18px;
    }
    .header{
        padding: 36px 36px 48px 36px
    }

    .header h1{
        margin: 0px;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .header img{
        border-radius: 16px;
    }

    .grid-images{
        grid-template-columns: 1fr;
    }

    .about {
        padding: 48px;
    }

    .about h1{
        font-size: 22px;
    }
    .work{
        display: block;
    }

    footer{
        padding: 48px 36px;
    }

    footer h1{
        font-size: 18px;
        line-height: 18px;
    }

    footer button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    nav .links{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header {
        padding: 22px 22px 48px 22px;
    }

    .header h1{
        font-size: 36px;
    }

    .card-container{
        padding: 0;
    }

    .card{
        padding: 12px;
    }

    .grid-images, .about, .work, .feedback, footer{
        padding: 24px;
    }

    footer button{
        line-height: 12px;
        text-align: center;
    }
}